$second-color: #e05124;

#hero {
  grid-area: hero;
  @extend .justify-content-center;
  @extend .flex-column;
  height: 650px;

  h2 {
    width: 600px;
    font-size: 3.7rem;
    font-weight: 900;
    line-height: 79px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  button {
    font-size: 1.1rem;
    border-radius: 4px;
    height: 50px;
    font-weight: 600;
    width: 400px;
    color: white;
    background: $second-color;
    text-transform: uppercase;
    transition: box-shadow 0.3s, transform 0.2s;
    // outline: solid;
  }

  button:hover {
    box-shadow: 0px 8px 30px rgba(224, 81, 36, 0.4);
  }

  button:active {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 700px) {
  #hero {
    h2 {
      width: 400px;
      font-size: 2.7rem;
    }
  }
}

@media screen and (max-width: 425px) {
  #hero {
    @extend .justify-content-center;

    h2 {
      width: 100%;
      font-size: 1.7rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
