@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800,900|Squada+One&display=swap");
.justify-content-center, #hero, #subscriptions-section .subscriptions-cards .card .description-block .price, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-space-between, header, #subscriptions-section .subscriptions-cards .card .option li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center, header .logo-banner, header .logo-img, header .header-nav-list, #subscriptions-section .subscriptions-cards .card .option li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-start, #subscriptions-section .subscriptions-cards .card .description-block .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-column, #hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shadow-and-radius, #about-section, #subscriptions-section .subscriptions-cards #card-1, #subscriptions-section .subscriptions-cards #card-2, #subscriptions-section .subscriptions-cards #card-3 {
  -webkit-box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.gradient-shadow-raduis, #diet-types-section .grid-container .card {
  background: linear-gradient(137.48deg, #27d26c 0%, #658324 75.52%, #a56b26 100%);
  -webkit-box-shadow: 0px 20px 100px rgba(33, 99, 10, 0.65);
          box-shadow: 0px 20px 100px rgba(33, 99, 10, 0.65);
  border-radius: 16px;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: header;
}

header .logo-banner {
  font-family: "Squada One", cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 19px;
}

header .logo-img {
  position: relative;
  margin-right: 5px;
}

header .logo-img .logo-img-1 {
  position: relative;
}

header .logo-img .logo-img-2 {
  position: absolute;
  left: 0;
}

header .header-nav-list {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 19px;
  padding: 0;
}

header .header-nav-list li {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  padding-left: 40px;
  opacity: 0.7;
}

header .header-nav-list li a {
  color: black;
}

header .header-nav-list li:hover {
  opacity: 1;
}

#hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: hero;
  height: 650px;
}

#hero h2 {
  width: 600px;
  font-size: 3.7rem;
  font-weight: 900;
  line-height: 79px;
  text-transform: uppercase;
  margin-bottom: 0;
}

#hero p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

#hero button {
  font-size: 1rem;
  border-radius: 4px;
  height: 50px;
  font-weight: 600;
  width: 400px;
  color: white;
  background: #e05124;
  text-transform: uppercase;
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.2s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.2s;
  transition: box-shadow 0.3s, transform 0.2s;
  transition: box-shadow 0.3s, transform 0.2s, -webkit-box-shadow 0.3s, -webkit-transform 0.2s;
}

#hero button:hover {
  -webkit-box-shadow: 0px 8px 30px rgba(224, 81, 36, 0.4);
          box-shadow: 0px 8px 30px rgba(224, 81, 36, 0.4);
}

#hero button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#about-section {
  margin-top: 120px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: about;
  padding: 17px 25px;
  position: relative;
}

#about-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 800;
}

#about-section p {
  width: calc(100% - 266px);
  margin-top: 0;
}

#about-section img {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 20px;
  width: 266px;
}

#about-section .mask {
  position: absolute;
  top: 105px;
  right: 85px;
  height: 250px;
  width: 150px;
  background: #222222;
  opacity: 0.6;
  -webkit-filter: blur(60px);
          filter: blur(60px);
}

#subscriptions-section {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: subscriptions;
  margin-top: 200px;
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(1fr, 12);
      grid-template-areas: "subscriptions-header subscriptions-header subscriptions-header subscriptions-header subscriptions-header subscriptions-header subscriptions-header subscriptions-header subscriptions-header subscriptions-header subscriptions-header subscriptions-header" "subscriptions-cards subscriptions-cards subscriptions-cards subscriptions-cards subscriptions-cards subscriptions-cards subscriptions-cards subscriptions-cards subscriptions-cards subscriptions-cards subscriptions-cards subscriptions-cards";
}

#subscriptions-section .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: subscriptions-header;
}

#subscriptions-section .header h2 {
  font-size: 1.8rem;
  margin-bottom: 0px;
}

#subscriptions-section .subscriptions-cards {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: subscriptions-cards;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (12)[1fr];
      grid-template-columns: repeat(1fr, 12);
  grid-column-gap: 20px;
      grid-template-areas: "card-1 card-1 card-1 card-1 card-2 card-2 card-2 card-2 card-3 card-3 card-3 card-3";
}

#subscriptions-section .subscriptions-cards .card {
  position: relative;
  text-align: center;
}

#subscriptions-section .subscriptions-cards .card .description-block .header {
  text-transform: uppercase;
  font-size: 2rem;
  opacity: 1;
}

#subscriptions-section .subscriptions-cards .card .description-block p {
  padding: 0 30px;
  opacity: 1;
}

#subscriptions-section .subscriptions-cards .card .description-block .price {
  position: relative;
  color: #e05124;
  text-shadow: 8px 8px 30px rgba(224, 81, 36, 0.4);
  font-weight: bold;
  font-size: 3rem;
  background: #f2f2f2;
  padding: 17px 0;
  margin-bottom: 0;
}

#subscriptions-section .subscriptions-cards .card .description-block .price span {
  font-size: 1.7rem;
  margin-right: 5px;
}

#subscriptions-section .subscriptions-cards .card .option {
  text-align: left;
  margin: 0;
}

#subscriptions-section .subscriptions-cards .card .option .cheked {
  color: #33c626;
}

#subscriptions-section .subscriptions-cards .card .option .cheked span {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 1;
  background: #33c626;
  opacity: 1;
  text-align: center;
  padding-top: 2.4px;
  padding-left: 0.1px;
}

#subscriptions-section .subscriptions-cards .card .option .cheked span i {
  color: white;
  position: relative;
  z-index: 2;
  font-family: FontAwesome;
  font-style: normal;
}

#subscriptions-section .subscriptions-cards .card .option .unchecked {
  color: #e05124;
}

#subscriptions-section .subscriptions-cards .card .option .unchecked span {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 1;
  background: #e05124;
  opacity: 1;
  text-align: center;
  padding-top: 2.4px;
  padding-left: 0.1px;
}

#subscriptions-section .subscriptions-cards .card .option .unchecked span i {
  color: white;
  position: relative;
  z-index: 2;
  font-family: FontAwesome;
  font-style: normal;
}

#subscriptions-section .subscriptions-cards .card .option li {
  opacity: 1;
  padding: 20px 30px;
}

#subscriptions-section .subscriptions-cards .card .option li:nth-child(even) {
  background: #f2f2f2;
}

#subscriptions-section .subscriptions-cards #card-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card-1;
  z-index: 1;
}

#subscriptions-section .subscriptions-cards #card-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card-2;
  z-index: 2;
}

#subscriptions-section .subscriptions-cards #card-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card-3;
  z-index: 1;
  color: white;
  background: linear-gradient(129.72deg, #22e871 15.38%, #658324 79.28%, #a56b26 100%);
}

#subscriptions-section .subscriptions-cards #card-3 .cheked {
  color: white;
}

#subscriptions-section .subscriptions-cards #card-3 .cheked span {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 1;
  background: white;
  opacity: 1;
  text-align: center;
  padding-top: 2.4px;
  padding-left: 0.1px;
}

#subscriptions-section .subscriptions-cards #card-3 .cheked span i {
  color: #5dd77d;
  position: relative;
  z-index: 2;
  font-family: FontAwesome;
  font-style: normal;
}

#subscriptions-section .subscriptions-cards #card-3 .price {
  background: #5dd77d;
}

#subscriptions-section .subscriptions-cards #card-3 .option li {
  opacity: 1;
}

#subscriptions-section .subscriptions-cards #card-3 .option li:nth-child(even) {
  background: #5dd77d;
}

#diet-types-section {
  margin-top: 120px;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: diet-types;
}

#diet-types-section .description-block {
  margin-bottom: 40px;
}

#diet-types-section .grid-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "card-1 card-2" "card-3 card-4";
}

#diet-types-section .grid-container .card {
  color: white;
  padding: 25px;
  position: relative;
}

#diet-types-section .grid-container .card h2 {
  text-transform: uppercase;
  margin-bottom: 15px;
}

#diet-types-section .grid-container .card li {
  line-height: 27px;
}

#diet-types-section .grid-container .card ul {
  margin-bottom: 0;
}

#diet-types-section .grid-container .card img {
  position: absolute;
}

#diet-types-section .grid-container .card h2,
#diet-types-section .grid-container .card li {
  opacity: 1;
}

#diet-types-section .grid-container .card #pineapple {
  top: -17px;
  right: -5px;
  height: 240px;
}

#diet-types-section .grid-container .card #cheez {
  top: 63px;
  right: -25px;
  height: 160px;
}

#diet-types-section .grid-container .card #cabbage {
  top: -52px;
  right: -60px;
}

#diet-types-section .grid-container .card #tomato {
  height: 200px;
  top: -30px;
  right: -33px;
}

#diet-types-section .grid-container #card-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card-1;
}

#diet-types-section .grid-container #card-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card-2;
}

#diet-types-section .grid-container #card-3 {
  margin-top: 40px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card-3;
}

#diet-types-section .grid-container #card-4 {
  margin-top: 40px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card-4;
}

#users-section {
  margin-top: 200px;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: user;
}

#users-section table thead {
  border: 2px solid black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

h2 {
  opacity: 0.8;
}

p {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  opacity: 0.6;
}

button {
  border: none;
  background: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

a::after {
  content: "";
  display: block;
  border: 1px solid black;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
      grid-template-areas: "header header header header header header header header header header header header" "hero hero hero hero hero hero hero hero hero hero hero hero" "about about about about about about about about about about about about" "subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions" "diet-types diet-types diet-types diet-types diet-types diet-types diet-types diet-types diet-types diet-types diet-types diet-types" "user user user user user user user user user user user user";
}
