@import "main-css-style";
@import "header";
@import "hero";
@import "about-section";
@import "subscriptions";
@import "diet-types";
@import "users-section";
@import "footer";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800,900|Squada+One&display=swap");

$main-font: "Montserrat", sans-serif;
$logo-font: "Squada One", cursive;

$second-color: #e05124;

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $main-font;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .flex-column;
  padding: 0;
  margin: 0;
}

h2 {
  opacity: 0.8;
}

p {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  padding: 0;
  li {
    opacity: 0.6;
  }
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-family: $main-font;
}

a {
  text-decoration: none;
}

a::after {
  content: "";
  display: block;
  border: 1px solid black;
  transition: transform 0.2s;
  transform: scale(0);
  transform-origin: 0%;
}

a:hover::after {
  transform: scale(1);
  transform-origin: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "header header header header header header header header header header header header"
    "hero hero hero hero hero hero hero hero hero hero hero hero"
    "about about about about about about about about about about about about"
    "subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions subscriptions"
    "diet-types diet-types diet-types diet-types diet-types diet-types diet-types diet-types diet-types diet-types diet-types diet-types"
    "user user user user user user user user user user user user"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}
